.score-row {
  cursor: pointer;
  display: flex;
  width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
  margin: 1px;
  background-color: #fff;
}

.total {
  background-color: rgb(60, 60, 120);
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: default;
}
