.current-attempt {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.current-attempt p {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: #f00;
  text-shadow: 1px 1px 1px black;
}
