.game {
  display: flex;
}

.pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(248, 232, 12, 0.089); */
  background: url("../../assets/img/pattern.png");
  margin: 3px;
  padding: 10px 50px;
  border-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

.pane:first-of-type {
  border-right: 10px double brown;
}

.pane:last-of-type {
  border-left: 10px double brown;
}
