.command-button button {
  height: 100px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
}
.command-button button:hover {
  background-color: rgb(195, 30, 30);
  transform: scale(0.95);
  transition-duration: 300ms;
}

.command-button button:active {
  background-color: #fff;
  color: red;
}

.command-button button:disabled,
.command-button button:disabled:hover {
  background-color: lightgray;
  transform: none;
  color: gray;
  cursor: default;
  border: none;
}

.command-button button > p:first-of-type {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.command-button button > p:last-of-type {
  font-size: 1rem;
  letter-spacing: 1.5px;
}
