.command-button button {
  height: 100px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(60, 60, 120);
  color: #fff;
}
.command-button button:hover {
  background-color: rgb(60, 80, 120);
  border: 5px inset rgba(0, 0, 0, 0.5);
}

.command-button button:active {
  background-color: rgb(80, 80, 140);
}

.command-button button:disabled,
.command-button button:disabled:hover {
  background-color: lightgray;
  color: gray;
  cursor: default;
  border: none;
}

.command-button button > p:first-of-type {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.command-button button > p:last-of-type {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
}
